Actividad 1: Exploración de Datos en Python
Este notebook contiene los ejercicios de la actividad 1 de exploración de datos de acuerdo a las instrucciones proporcionadas.

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

 2. Lectura y Análisis Exploratorio de Datos (Parte 1)

 Cargar datos del archivo `ejemplo_data.csv`

In [2]:
# Cargar datos del archivo ejemplo_data.csv
df = pd.read_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\ejemplo_data.csv')
df.head()  # Muestra las primeras filas para revisar

,ID,Nombre,2016,2017,Crecimiento,Unidades,fecha,Activo
0,10002,Verde Mar,"$125,000.00",$162500.00,30.00%,500,1-10-2015,1
1,552278,Manantial sa,"$920,000.00","$101,2000.00",10.00%,700,6-23-2014,0
2,23477,ACME,"$50,000.00",62500.00,25.00%,125,3-12-2016,1
3,24900,Andes sur,"$350,000.00",490000.00,4.00%,75,10-28-2015,1
4,651029,San Pablo,"$15,000.00",$12750.00,-15.00%,No,2-15-2014,0

 Explorar los tipos de datos

In [3]:
# Mostrar información de los tipos de datos
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           5 non-null      int64
 1   Nombre       5 non-null      object
 2   2016         5 non-null      object
 3   2017         5 non-null      object
 4   Crecimiento  5 non-null      object
 5   Unidades     5 non-null      object
 6   fecha        5 non-null      object
 7   Activo       5 non-null      int64
dtypes: int64(2), object(6)
memory usage: 452.0+ bytes
None

 Transformar columnas de tipo

In [4]:
# Cambiar tipos de datos
# Solución 1: Reemplazar valores no numéricos con 0
df['Unidades'] = pd.to_numeric(df['Unidades'], errors='coerce')
df['Unidades'] = df['Unidades'].fillna(0).astype(int)

df['2016'] = pd.to_numeric(df['2016'], errors='coerce') # Convertir la columna '2016' a numérico, convirtiendo valores no numéricos a NaN

df['ID'] = df['ID'].astype(int)
df['Activo'] = df['Activo'].astype(bool)
df['Unidades'] = df['Unidades'].astype(int)
df['2016'] = df['2016'].astype(float)
# Confirmar cambios

print(df.dtypes)

ID               int64
Nombre          object
2016           float64
2017            object
Crecimiento     object
Unidades         int64
fecha           object
Activo            bool
dtype: object

 3. Lectura y Análisis Exploratorio de Datos (Parte 2)

 Cargar datos del archivo `ecommerce_data.csv`

In [5]:
# Cargar datos del archivo ecommerce_data.csv
#df_ecommerce = pd.read_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\ecommerce_data.csv')
#Se aplica la siguiente instruccion ya que no reconoce el formato del archivo csv
df_ecommerce = pd.read_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\ecommerce_data.csv', encoding='latin1')
df_ecommerce.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

 Transformación de tipos de datos

In [6]:
# Mostrar información inicial
print(df_ecommerce.info())
# Cambiar tipos de datos
#df_ecommerce['InvoiceNo'] = df_ecommerce['InvoiceNo'].fillna(0).astype(int)
df_ecommerce['InvoiceNo'] = pd.to_numeric(df_ecommerce['InvoiceNo'], errors='coerce').fillna(0).astype(int) # Convertir todos los valores no numéricos a NaN, luego llenar NaN con 0 y convertir a entero

df_ecommerce['InvoiceNo'] = df_ecommerce['InvoiceNo'].astype(int)
df_ecommerce['Description'] = df_ecommerce['Description'].astype(str)
df_ecommerce['Quantity'] = df_ecommerce['Quantity'].astype(int)
df_ecommerce['UnitPrice'] = df_ecommerce['UnitPrice'].astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

 Separar `InvoiceDate` en Fecha y Hora

In [7]:
df_ecommerce['InvoiceDate'] = pd.to_datetime(df_ecommerce['InvoiceDate'])
df_ecommerce['Fecha'] = df_ecommerce['InvoiceDate'].dt.date
df_ecommerce['Hora'] = df_ecommerce['InvoiceDate'].dt.time

 Añadir Columna `MontoTotal` y Exportar el Archivo Procesado

In [8]:
# Crear columna de monto total
df_ecommerce['MontoTotal'] = df_ecommerce['Quantity'] * df_ecommerce['UnitPrice']
# Guardar el archivo procesado
df_ecommerce.to_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\ecommerce_data_procesado.csv', index=False)

 4. Estadísticas Descriptivas

 Crear un Diccionario con Datos Simulados y Transformarlo en DataFrame

In [9]:
data = {
    'Atributo1': np.random.normal(50, 10, 50),
    'Atributo2': np.random.normal(30, 5, 50),
    'Atributo3': np.random.normal(100, 20, 50)
}
df_diccionario = pd.DataFrame(data)

 Estadísticas Descriptivas de Tendencia Central y Dispersión

In [10]:
# Estadísticas descriptivas
print(df_diccionario.describe())

       Atributo1  Atributo2   Atributo3
count  50.000000  50.000000   50.000000
mean   52.130382  29.671017   99.621335
std     9.807604   4.336437   21.043173
min    24.301208  21.731148   60.799186
25%    46.670464  26.590078   89.008691
50%    51.529680  28.706664   97.570572
75%    57.851345  32.611443  116.354770
max    74.618156  40.590728  139.363580

5. Transformación e Imputación de Datos

Cargar datos de `ratings_data.csv` y `books_data.csv`

In [12]:
df_ratings = pd.read_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\ratings_data.csv')
#df_books = pd.read_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\books_data.csv', encoding='detected_encoding')
#df_books = pd.read_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\books_data.csv')
#df_books = pd.read_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\books_data.csv', encoding='iso-8859-1')
df_books = pd.read_excel(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\books_data.xlsx')

### Diagnóstico de Valores Faltantes e Imputación

In [13]:
# Diagnóstico de valores nulos
print(df_ratings.isna().sum())
# Imputación de valores faltantes
imputer = SimpleImputer(strategy='mean')
#df_ratings = pd.DataFrame(imputer.fit_transform(df_ratings), columns=df_ratings.columns)
# Imputación de valores faltantes en todas las columnas numéricas
df_ratings[df_ratings.select_dtypes(include=['float64', 'int64']).columns] = imputer.fit_transform(df_ratings.select_dtypes(include=['float64', 'int64']))
df_ratings.fillna(0, inplace=True)  # Segundo criterio de imputación

# Diagnóstico de valores nulos
print(df_ratings.isna().sum())

Unnamed: 0     0
User-ID        0
ISBN           0
Book-Rating    0
MeanRating     0
dtype: int64
Unnamed: 0     0
User-ID        0
ISBN           0
Book-Rating    0
MeanRating     0
dtype: int64

### Promedio de Rating por ISBN

In [14]:
#promedio_rating = df_ratings.groupby('ISBN')['Rating'].mean().reset_index()
#print(df_ratings.columns) 
promedio_rating = df_ratings.groupby('ISBN')['Book-Rating'].mean().reset_index() #Faltaba colocar la palabra Book-rating
promedio_rating.columns = ['ISBN', 'PromedioRating']
df_ratings = df_ratings.merge(promedio_rating, on='ISBN', how='left')

### Consolidación de Bases de Datos por ISBN

In [15]:
df_books = pd.read_excel(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\books_data.xlsx')
#print("Columnas en df_books:", df_books.columns)
print(df_books.head())
df_consolidado = df_books.merge(df_ratings, on='ISBN', how='left')
df_consolidado.to_csv(r'C:\CARLOS GOMEZ\DIPLOMADO PYTHON UC\CURSO 4 CIENCIAS DE DATOS\ACTIVIDAD 1\consolidado.csv', index=False)

         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author  Year-Of-Publication                Publisher  \
0    Mark P. O. Morford                 2002  Oxford University Press
1  Richard Bruce Wright                 2001    HarperFlamingo Canada
2          Carlo D'Este                 1991          HarperPerennial
3      Gina Bari Kolata                 1999     Farrar Straus Giroux
4       E. J. W. Barber                 1999   W. W. Norton & Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

## Conclusión
En esta actividad, se realizaron varias tareas de exploración y transformación de datos utilizando las bibliotecas Pandas y NumPy, así como imputación de datos con sklearn. Cada paso contribuyó a la creación de un flujo de trabajo completo de análisis de datos.